<%= simple_form_for @users do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <label>İsim *</label>
         <%= f.input :name, label: false,input_html:{ class: "form-control"} %>
      </div>
      <div class="col-md-6">
        <label>Mail Adresi</label>  
        <%= f.input :mail, label: false, input_html:{ class: "form-control"}%>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>