<%= simple_form_for @category do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :ad, input_html:{ class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.input :id, input_html:{ class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary text-center mb-5' %>
  </div>
<% end %>
